*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: Quicksand,sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
}
.perfect-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* menu pc */
.header{
    min-width: 1200px;
    height: 64px;
    background: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.headerFeature{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.headerFeature img{
    width: 146px;
    height: 34px;
}
#toggle-dark-mode{
    color: #f18121;
    border: 1px solid;
    height: 44px;
    border-radius: 150px;
    width: 44px;
    text-align: center;
    font-size: 17px;
    background-color: transparent;
    margin-left: 20px;
}
.search-bar{
    margin-left: 20px;
    width: 420px;
    position: relative;
}
.search-field{
    background-color: #f9f9f9;
    width: 100%;
    height: 44px;
    border: solid 1px #e0e0e0;
    border-radius: 50px;
    padding: 0 45px 0 20px;
    color: #757575;
}
.search-btn{
    color: #f18121;
    border: none;
    background: 0;
    position: absolute;
    right: 15px;
    top: 25%;
    font-size: 19px;
    cursor: pointer;
}
.search-result{
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 3;
    top: 100%;
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
    max-height: 400px;
    overflow: auto;
}
.search-result > .search-item:first-child{
    border: none;
}
.search-item{
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgb(138, 129, 129);
}
.search-item-img,.search-item-img > img{
    width: 56.5px;
    height: 86px;
}
.search-item-info{
    margin-left: 10px;
}
.search-item-info > b{
    font-size: 14px;
}
.search-item-info > p{
    font-size: 12px;
}
.search-item-info > span{
    font-size: 13px;
    color: #999;
}
.rightFeature{
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.btnFeature{
    height: 80%;
    background: #3f94d5;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 0 13px;
}
.menu{
    min-width: 1200px;
    height: 52px;
    background: #f18121;
    position: relative;
}
.menu-content{
    display: flex;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
}
.menu_pc{
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
.menu_pc > li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}
.menu_pc > li > a,.menu_pc > li > span {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 10px;
    background: #f18121;
}
.menu_pc > li > a:hover,.menu_pc > li > span:hover{
    background: #f3923d;
}
.menu_pc > li > span > i{
    margin-left: 5px;
}
.submenu{
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    color: #333;
    z-index: 5;
    display: none;
}
.submenu > a{
    width: 12.5%;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}
.submenu > a:hover{
    color: #f18121;
}
.category-hover:hover .cat-submenu{
    display: flex;
}
.chart-hover:hover .chart-submenu{
    display: flex;
}
/* menu mobile */
.header_mobile{
    display: none;
    flex-wrap: wrap;
    background: #fff;
    padding: 10px;
    position: relative;
}
.header_mobile > a,.header_mobile > a > img{
    width: 40px;
    height: 40px;
}
.show-search-bar{
    border: none;
    background-color: #f18121;
    border-radius: 100px;
    width: 44px;
    height: 44px;
    font-size: 16px;
    color: #fff;
}
.menu_mobile{
    display: none;
    background-color: #f18121;
}
.menu_mobile_content{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.menu_mobile_content > li{
    padding: 10px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}
.menu_mobile_content > li > a{
    text-decoration: none;
    color: #fff;
}
.menu_mobile_content > li:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle_menu_mobile{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #fff;
}
.category-click,.chart-click{
    position: relative;
}
.submenu_mobile{
    margin-top: 10px;
    background: #fff;
    flex-wrap: wrap;
    display: flex;
    padding: 0px 10px;
}
.submenu_mobile > a{
    width: 50%;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
}

/* main */
.main-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.card-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 10px;
}
.card-item a{
    height: 220px;
    width: 100%;
    position: relative;
}
.card-item a img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.more-info{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 15px;
    width: 100%;
    padding: 0 10px;
}
.time{
    border-radius: 5px;
    background-color: #56ccf2;
    margin-right: 5px;
    padding: 5px;
    color: #fff;
    text-align: center;
}
.unfollow{
    border-radius: 5px;
    background-color: #18191a;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.bookname{
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    font-size: 17px;
    margin-top: 7px;
    height: 35px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.lastest-chapter{
    font-size: 12px;
    text-align: center;
}
.main{
    margin-top: 10px;
}
.main h2{
    color: #56ccf2;
    padding: 10px 0px;
}
.main-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.list-item{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* footer */
footer{
    min-width: 1200px;
    background: #fff;
    border-top: 5px solid #f18121;
}
.footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: fit-content;
}
.footer-left,.footer-right{
    width: 50%;
    padding: 20px 20px 20px 0;
}
.quote,.contact{
    line-height: 30px;
    margin-bottom: 10px;
}
.footer-cat{
    display: flex;
    flex-wrap: wrap;
}
.footer-cat a{
    text-decoration: none;
    padding: 10px;
    background-color: #e2e2e2;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #333;
    border-radius: 5px;
}
.copyright{
    line-height: 21px;
    font-size: 13px;
}
/* class-active */
.hidden{
    display: none;
}
.height-fit{
    height: fit-content;
}
.dark{
    background: #18191a;
    color: #fff;
}
.dark-input{
    background-color: #3a3b3c;
    border-color: #3a3b3c;
    color: #b0b3b8;
}
.dark-toggle-btn{
    background-color: #e4e6eb !important;
    color: #242526 !important;
}
.dark-menu{
    background-color: #242526;
}
@media screen and (max-width: 720px){
    .header,.menu{
        display: none;
    }
    .header_mobile,.menu_mobile{
        display: flex;
    }
    #toggle-dark-mode{
        margin-left: 10px;
    }
    .rightFeature{
        right: 10px;
        height: 44px;
    }
    .btnFeature{
        padding: 0px 7px;
    }
    .search-bar{
        margin-top: 10px;
        margin-left: 0;
        display: none;
    }
    .search-btn{
        top:11px
    }
    .banner{
        display: none;
    }
    .main-container{
        width: 100%;
        padding: 0 10px;
    }
    .main-content{
        flex-direction: column;
        align-items: center;
    }
    .card-item{
        width: 150px;
        
    }
    footer{
        min-width: 0;
    }
    .footer{
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    .footer-left,.footer-right{
        width: 100%;
    }
}
 